@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..300&display=swap");

body#breathe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000;
}

.author {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
}
.author .char {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Heebo", sans-serif;
  font-variation-settings: "wght" var(--font-weight, 100);
  color: #FFF;
}
.author #poof {
  visibility: hidden;
}

.author:hover {
  cursor: pointer;
}